engine-strict=true
audit=false
fund=false
fetch-retries=2
fetch-retry-factor=10
fetch-retry-maxtimeout=60000
fetch-retry-mintimeout=10000
fetch-timeout=300000
frozen-lockfile=true
prefer-offline=true
strict-peer-dependencies=false
verify-store-integrity=true
ignore-scripts=true
minimum-release-age=20160
save-exact=true
